.btn {
	@apply uppercase no-underline bg-white rounded-[3.125rem] py-[0.9375rem] px-10 transition-all relative text-[1.25rem];

	&:hover {
		@apply translate-y-[-0.25rem] shadow-xl;

		&::after {
			@apply opacity-0 scale-x-[1.6] scale-y-[1.7];
		}
	}

	&:active {
		@apply translate-y-[-0.125rem] shadow-lg;
	}

	&::after {
		content: '';
		@apply bg-ap-white w-full h-full rounded-[3.125rem] absolute top-0 left-0 -z-10 transition-all duration-[400ms];
	}
}
