.section {
	@apply sm:p-[6.25rem] bg-gradient-to-r from-ap-brown-light to-ap-brown-dark;

	.container {
		@apply h-[31.25rem] relative rounded shadow-lg;

		.bgImg {
			@apply object-cover absolute rounded;
		}

		.bgGradient {
			@apply w-full h-full absolute rounded;

			background: linear-gradient(
				115deg,
				rgba(255, 255, 255, 0.9) 0%,
				rgba(255, 255, 255, 0.9) 57%,
				rgba(186, 133, 84, 0.8) 57%,
				rgba(255, 143, 0, 0.8) 100%
			);
		}

		.box {
			@apply relative p-4 sm:p-[3.125rem] h-full;

			.form {
				.formGroup {
					@apply flex flex-col gap-[0.625rem];

					&:not(:last-child) {
						@apply mb-3;
					}

					.input {
						@apply text-ap-black py-[1.125rem] pl-[1.375rem] rounded w-1/3;

						&:focus {
							@apply outline-none shadow-lg border-b-4 border-b-ap-green-light transition-all;
						}

						&:focus:invalid {
							@apply border-b-ap-red-light;
						}

						&:placeholder-shown + .label {
							@apply opacity-0 -translate-y-2;
							visibility: hidden;
						}
					}

					.label {
						@apply transition-all duration-700;
					}
				}

				.radioGroup {
					@apply flex gap-6 w-1/2;

					.radioField {
						@apply flex gap-2;

						.radio {
							@apply hidden;
						}

						.radio:checked ~ .labelRadio .btnRadio::after {
							@apply opacity-100;
						}

						.labelRadio {
							@apply cursor-pointer relative pl-10;

							.btnRadio {
								@apply h-7 w-7 rounded-full border-4 border-ap-brown-dark block absolute left-0 -top-[0.1rem];

								&::after {
									content: '';
									@apply block w-3 h-3 rounded-full bg-ap-brown-dark absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 transition-all;
								}
							}
						}
					}
				}

				.btn {
					@apply mt-[1.875rem] inline-block bg-ap-brown-light text-white;

					&::after {
						@apply bg-ap-brown-light;
					}
				}
			}
		}
	}
}
