.title {
	@apply text-4xl tracking-[0.625rem] uppercase font-bold transition-all duration-[400ms];

	backface-visibility: hidden;

	&:hover {
		@apply skew-y-2 skew-x-[15deg] scale-110;
	}
}

.gradient {
	@apply bg-gradient-to-r from-ap-brown-light to-ap-brown-dark bg-clip-text text-transparent;
}
